/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-jun-2016, 14:14:24
    Author     : Jesús Aragón
*/

.foto{
    width:75% !important;
}
hr.separadorMenu{
    border: grey 1px solid;
    width: 75%;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.btnBandera
{
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 0px;
    margin-right: 0px;
}
.contenedorBandera
{
    padding-left: 0px;
    padding-right: 0px;
}

#barralateral nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 1920px) {

    /*ESCALA IMAGEN CARGANDO*/ 

    .imgLoading
    {
        width: 20%;
    }

    a:hover {
        color: #F2F2F2; /* verde */
    } 
    /* SECTION 1 */
    a.nav-expander {
        background: none repeat scroll 0 0 #76c472;
        color: #D0D2D3;
        border-radius: 15%; /*redondo*/
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin-right: 0;
        padding: 6.5em 1.2em 1.2em 2em;
        position: absolute;
        left: -60px; /* changed */
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;

        bottom: 30%;
        transition: left 0.3s ease-in-out 0s;  /* changed */

        height: 135px;
        width: 135px;
        z-index: 12;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;
        /*Rotacion 90 grados*/
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);	

    }

    a.nav-expander:hover {
        cursor: pointer;
        color: #F2F2F2;
        text-decoration: none;
    }

    a.nav-expander.fixed {
        position: fixed;
    }

    .nav-expanded a.nav-expander.fixed {
        left: 2%;  /* changed */
    }

    /* SECTION 2 */
    nav {
        background: lightgrey;
        display: block;
        height: 80%;
        overflow: auto;
        position: fixed;
        left: -10%;
        padding-top: 1%;     /* changed */
        padding-bottom: 1%;
        font-size: 15px;
        top: 17%;
        width: 7%;
        z-index: 2000;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .nav-expanded nav {
        left: 0; /* changed */
    }

    body.nav-expanded {
        margin-left: 0em;
        transition: left 0.4s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.4s ease-in-out 0s;
        -moz-transition: left 0.4s ease-in-out 0s;
        -o-transition: left 0.4s ease-in-out 0s;
    }


    /* SECTION 3 */
    .main-menu {
        padding-top: 12px;
    }
    .iconosmenulateral{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
    .main-menu li {
        /*  border-bottom: 1px solid #323949;*/
        margin-left: 20px;
        font-size: 18px;
        padding: 12px;
    }

    .main-menu li a {
        color: #6F7D8C;
        text-decoration: none;
    }

    .main-menu li a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .main-menu li .sub-nav {
        border-bottom: 0px;
        padding: 4px;
    }

    .main-menu a .caret {
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        border-top: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        margin-top: 8px;
    }

    .main-menu a:hover .caret {
        border-top-color: #4f5963;
    }

    .main-menu li.open > a > .caret {
        border-top: none;
        border-bottom: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .main-menu li.open > a:hover > .caret {
        border-bottom-color: #4f5963;
    }

    .icon:before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        content: '\f105';
    }

    .main-menu li > a > span.icon {
        float: right;
        margin: 0.1em 1.7em -0.1em 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }

    .main-menu li > a:hover > span.icon {
        float: right;
        margin: 0.1em 0.8em -0.1em 0;
        opacity: 1;
    }
#myTab > ul > li >a{
                padding: 10px 9px;
            }
}

@media (max-width: 1280px){
    /*ESCALA IMAGEN CARGANDO*/ 

    .imgLoading
    {
        width: 35% !important;
    }

    img{
        width: 90%;
    }
    .imgUser
    {
        width: 50% !important;
    }
    a:hover {
        color: #F2F2F2; /* verde */
    } 
    /* SECTION 1 */
    a.nav-expander {
        background: none repeat scroll 0 0 #76c472;
        color: #D0D2D3;
        border-radius: 15%; /*redondo*/
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        font-size: 15px;
        font-weight: 400;

        margin-right: 0;
        padding: 6.5em 1.2em 1.2em 2em;
        position: absolute;
        left: -7%; /* changed */
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        bottom: 30%;
        transition: left 0.3s ease-in-out 0s;  /* changed */

        height: 130px;
        width: 130px;
        z-index: 12;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;
        /*Rotacion 90 grados*/
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);	

    }

    a.nav-expander:hover {
        cursor: pointer;
        color: #F2F2F2;
        text-decoration: none;
    }

    a.nav-expander.fixed {
        position: fixed;
    }

    .nav-expanded a.nav-expander.fixed {
        left: 0%;  /* changed */
    }

    /* SECTION 2 */
    nav {
        background: lightgrey;
        display: block;
        height: 75%;
        overflow: auto;
        position: fixed;
        left: -10%;
        padding-top: 1%;     /* changed */
        font-size: 15px;
        top: 20%;
        width: 7%;
        z-index: 2000;

        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;

    }
    .nav-expanded nav {
        left: 0; /* changed */
    }

    body.nav-expanded {
        margin-left: 0em;
        transition: left 0.4s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.4s ease-in-out 0s;
        -moz-transition: left 0.4s ease-in-out 0s;
        -o-transition: left 0.4s ease-in-out 0s;
    }


    /* SECTION 3 */
    .main-menu {
        padding-top: 12px;
    }
    .iconosmenulateral{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
    .main-menu li {
        /*  border-bottom: 1px solid #323949;*/
        margin-left: 20px;
        font-size: 18px;
        padding: 12px;
    }

    .main-menu li a {
        color: #6F7D8C;
        text-decoration: none;
    }

    .main-menu li a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .main-menu li .sub-nav {
        border-bottom: 0px;
        padding: 4px;
    }

    .main-menu a .caret {
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        border-top: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        margin-top: 8px;
    }

    .main-menu a:hover .caret {
        border-top-color: #4f5963;
    }

    .main-menu li.open > a > .caret {
        border-top: none;
        border-bottom: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .main-menu li.open > a:hover > .caret {
        border-bottom-color: #4f5963;
    }

    .icon:before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        content: '\f105';
    }

    .main-menu li > a > span.icon {
        float: right;
        margin: 0.1em 1.7em -0.1em 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }

    .main-menu li > a:hover > span.icon {
        float: right;
        margin: 0.1em 0.8em -0.1em 0;
        opacity: 1;
    }
    #myTab > ul > li >a{
                padding: 10px 9px;
            }
}

@media (max-width: 1024px){

    /*ESCALA IMAGEN CARGANDO*/ 

    .imgLoading
    {
        width: 25% !important;
    }
    img{
        width: 80%;
    }

    a:hover {
        color: #F2F2F2; /* verde */
    } 
    /* SECTION 1 */
    a.nav-expander {
        background: none repeat scroll 0 0 #76c472;
        color: white;
        border-radius: 15%; /*redondo*/
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin-right: 0;
        padding: 6.5em 1.2em 1.2em 2em;
        position: absolute;
        left: -9%; /* changed */
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        bottom: 42%;
        transition: left 0.3s ease-in-out 0s;  /* changed */

        height: 130px;
        width: 130px;
        z-index: 12;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;
        /*Rotacion 90 grados*/
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);	

    }

    a.nav-expander:hover {
        cursor: pointer;
        color: #F2F2F2;
        text-decoration: none;
    }

    a.nav-expander.fixed {
        position: fixed;
    }

    .nav-expanded a.nav-expander.fixed {
        left: 2%;  /* changed */
    }

    /* SECTION 2 */
    nav {
        background: lightgrey;
        display: block;
        height: 80%;
        overflow: auto;
        position: fixed;
        left: -30%;
        padding-top: 1%;     /* changed */
        padding-bottom: 1%;     /* changed */
        font-size: 15px;
        top: 15%;
        width: 10%;
        z-index: 2000;

        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;

    }
    .nav-expanded nav {
        left: 0; /* changed */
    }

    body.nav-expanded {
        margin-left: 0em;
        transition: left 0.4s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.4s ease-in-out 0s;
        -moz-transition: left 0.4s ease-in-out 0s;
        -o-transition: left 0.4s ease-in-out 0s;
    }


    /* SECTION 3 */
    .main-menu {
        padding-top: 12px;
    }
    .iconosmenulateral{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
    .main-menu li {
        /*  border-bottom: 1px solid #323949;*/
        margin-left: 20px;
        font-size: 18px;
        padding: 12px;
    }

    .main-menu li a {
        color: #6F7D8C;
        text-decoration: none;
    }

    .main-menu li a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .main-menu li .sub-nav {
        border-bottom: 0px;
        padding: 4px;
    }

    .main-menu a .caret {
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        border-top: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        margin-top: 8px;
    }

    .main-menu a:hover .caret {
        border-top-color: #4f5963;
    }

    .main-menu li.open > a > .caret {
        border-top: none;
        border-bottom: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .main-menu li.open > a:hover > .caret {
        border-bottom-color: #4f5963;
    }

    .icon:before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        content: '\f105';
    }

    .main-menu li > a > span.icon {
        float: right;
        margin: 0.1em 1.7em -0.1em 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }

    .main-menu li > a:hover > span.icon {
        float: right;
        margin: 0.1em 0.8em -0.1em 0;
        opacity: 1;
    }
    #myTab > ul > li >a{
                padding: 10px 6px;
            }
}


@media (max-width: 768px){

    /*ESCALA IMAGEN CARGANDO*/ 

    .imgLoading
    {
        width: 25% !important;
    }
    img{
        width: 100%;
    }

    a:hover {
        color: #F2F2F2; /* verde */
    } 
    /* SECTION 1 */
    a.nav-expander {
        background: none repeat scroll 0 0 #76c472;
        color: white;
        border-radius: 15%; /*redondo*/
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin-right: 0;
        /*padding: 6.5em 1.2em 1.2em 2em;*/
        position: absolute;
        left: -9%; /* changed */
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        bottom: 42%;
        transition: left 0.3s ease-in-out 0s;  /* changed */

        height: 70px;
        width: 70px;
        padding-left: 10px;
        z-index: 12;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;
        /*Rotacion 90 grados*/
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);	

    }

    a.nav-expander:hover {
        cursor: pointer;
        color: #F2F2F2;
        text-decoration: none;
    }

    a.nav-expander.fixed {
        position: fixed;
    }

    .nav-expanded a.nav-expander.fixed {
        left: 2%;  /* changed */
    }

    /* SECTION 2 */
    nav {
        background: lightgrey;
        display: block;
        height: 68%;
        overflow: auto;
        position: fixed;
        left: -30%;
        padding-top: 1%;     /* changed */
        padding-bottom: 1%;     /* changed */
        font-size: 15px;
        top: 16%;
        width: 10%;
        z-index: 2000;

        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        transition: left 0.3s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.3s ease-in-out 0s;
        -moz-transition: left 0.3s ease-in-out 0s;
        -o-transition: left 0.3s ease-in-out 0s;

    }
    .nav-expanded nav {
        left: 0; /* changed */
    }

    body.nav-expanded {
        margin-left: 0em;
        transition: left 0.4s ease-in-out 0s;  /* changed for this and the 3 lines below */
        -webkit-transition: left 0.4s ease-in-out 0s;
        -moz-transition: left 0.4s ease-in-out 0s;
        -o-transition: left 0.4s ease-in-out 0s;
    }


    /* SECTION 3 */
    .main-menu {
        padding-top: 12px;
    }
    .iconosmenulateral{
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .main-menu li {
        /*  border-bottom: 1px solid #323949;*/
        margin-left: 20px;
        font-size: 18px;
        padding: 12px;
    }

    .main-menu li a {
        color: #6F7D8C;
        text-decoration: none;
    }

    .main-menu li a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .main-menu li .sub-nav {
        border-bottom: 0px;
        padding: 4px;
    }

    .main-menu a .caret {
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        border-top: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        margin-top: 8px;
    }

    .main-menu a:hover .caret {
        border-top-color: #4f5963;
    }

    .main-menu li.open > a > .caret {
        border-top: none;
        border-bottom: 4px solid #4f5963;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .main-menu li.open > a:hover > .caret {
        border-bottom-color: #4f5963;
    }

    .icon:before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        content: '\f105';
    }

    .main-menu li > a > span.icon {
        float: right;
        margin: 0.1em 1.7em -0.1em 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }

    .main-menu li > a:hover > span.icon {
        float: right;
        margin: 0.1em 0.8em -0.1em 0;
        opacity: 1;
    }
    #myTab ul {
        font-size: 10.8px;
        padding: 0px;
    }
    #myTab ul {
        font-size: 10.8px;
        padding: 0px;
    }
    #myTab > ul > li > a{
        padding: 10px 3px;
    }

}