/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-may-2016, 13:40:12
    Author     : Jesús Aragón
*/


@font-face {
    font-family: fontprincipal;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
body{
    margin-top: 100px;
}
div {
    font-family: fontprincipal;
}
.logo{
    background-color: gray;
}
.fondoGris{
    background-color: #D0D2D3 !important;
    background-image: none !important;
}
.paddingLabel
{
    padding-top: 25px;
}
.methodSelect
{
    min-height: 75px;
}
/*BOTONES*/
.btn-success{
    background-image: -webkit-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -o-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#99CC66),to(#80B34D))!important;
    background-image: linear-gradient(to bottom,#99CC66 100%,#80B34D 0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC66', endColorstr='#80B34D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #99CC66 !important;
    background-color: #99CC66 !important;
}
.btn-success:hover{
    background-image: -webkit-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -o-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#99CC66),to(#80B34D))!important;
    background-image: linear-gradient(to bottom,#99CC66 0,#80B34D 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC66', endColorstr='#80B34D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #99CC66 !important;
    background-color: #99CC66 !important;
    background-position-x: 0px;
    background-position-y: 15px !important;
}
.btn-success:hover :active{
    background-image: -webkit-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -o-linear-gradient(top,#99CC66 0,#80B34D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#99CC66),to(#80B34D))!important;
    background-image: linear-gradient(to bottom,#99CC66 0,#80B34D 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC66', endColorstr='#80B34D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #99CC66 !important;
    background-color: #99CC66 !important;
    background-position-x: 0px;
    background-position-y: 15px !important;
}

.btn-warning{
    background-image: -webkit-linear-gradient(top,#F58565 0,#DC6C4C 100%)!important;
    background-image: -o-linear-gradient(top,#F58565 0,#DC6C4C 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F58565),to(#DC6C4C))!important;
    background-image: linear-gradient(to bottom,#F58565 100%,#DC6C4C 0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F58565', endColorstr='#DC6C4C', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #F58565 !important;
    background-color: #F58565 !important;
}
.btn-warning:hover{
    background-image: -webkit-linear-gradient(top,#F58565 0,#DC6C4C 100%)!important;
    background-image: -o-linear-gradient(top,#F58565 0,#DC6C4C 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F58565),to(#80B34D))!important;
    background-image: linear-gradient(to bottom,#F58565 0,#DC6C4C 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F58565', endColorstr='#DC6C4C', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #F58565 !important;
    background-color: #F58565 !important;
    background-position-x: 0px;
    background-position-y: 15px !important;
}
.btn-warning:hover :active{
    background-image: -webkit-linear-gradient(top,#F58565 0,#80B34D 100%)!important;
    background-image: -o-linear-gradient(top,#F58565 0,#80B34D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F58565),to(#80B34D))!important;
    background-image: linear-gradient(to bottom,#F58565 0,#80B34D 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F58565', endColorstr='#80B34D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #F58565 !important;
    background-color: #F58565 !important;
    background-position-x: 0px;
    background-position-y: 15px;
}

.btn-danger{
    background-image: -webkit-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -o-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#CC6666),to(#B44D4D))!important;
    background-image: linear-gradient(to bottom,#CC6666 100%,#B44D4D 0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC6666', endColorstr='#B44D4D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #CC6666 !important;
    background-color: #CC6666 !important;
}
.btn-danger:hover{
    background-image: -webkit-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -o-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#CC6666),to(#B44D4D))!important;
    background-image: linear-gradient(to bottom,#CC6666 0,#B44D4D 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC6666', endColorstr='#B44D4D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #CC6666 !important;
    background-color: #CC6666 !important;
    background-position-x: 0px;
    background-position-y: 15px !important;
}
.btn-danger:hover :active{
    background-image: -webkit-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -o-linear-gradient(top,#CC6666 0,#B44D4D 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#CC6666),to(#B44D4D))!important;
    background-image: linear-gradient(to bottom,#CC6666 0,#B44D4D 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC6666', endColorstr='#B44D4D', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
    background-repeat: repeat-x;
    border-color: #CC6666 !important;
    background-color: #CC6666 !important;
    background-position-x: 0px;
    background-position-y: -1px;
}

.chart {
    width: 100%; 
    height: 600px;
}
.contenedorAlumno{
    background-color: #99CC66; /*color colegio*/ 
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    color: white;
}
.elemento-movil{
    margin: 2px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
.imagenlista{
    height: 40px;   
}
.listaalumnos{
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-default{
    background-color: #99CC66;
}
.btn-naranja{
    background-color: #99CC66;
}
.infousuario{
    color: white;
    position: relative;
    background-color: #dff0d8;
    width: 100%;
    min-height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown
{
    list-style: none;  
}
/*PROGRESSBYSTUDENT*/
textarea 
{
    resize: none;
}
.studentarea
{            
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}
.nameStudent
{
    background-color: #D0D2D3;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
}
.tab-pane
{
    padding-top: 20px;
}
.sinpadding
{
    padding: 0px !important;
}
.containerPhoto
{
    display: table;
    /*                background-color: lightgray;*/
    border-right: 1px #D0D2D3 double;
    min-height: 300px;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}
#divTableObjective{
    margin-top: 20px;
}
.label-demographic{
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}
.demographic{
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
    min-height: 32px;
}
.btn-unbutton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.divLoadStudent{
    background-color: Transparent;
    position: fixed;
    top: 20%;
    right: 0;
    bottom: 20%;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

#yearTermModal .modal-content div{
    background-color: white;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
}

#yearTermModal .modal-content div .form-group{
    margin-bottom: 0px;
}
#btnYearmTerm{
    color: #666;
}

#commentSubject{
    height: 150px !important;
}

#saveLengthDiv{
    height: 150px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

/*TERMINA PROGRESSBYSTUDENT*/
/*.tooltip > .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #cc0000;  black 
  border-width: 0 5px 5px;
}
.tooltip > .tooltip-inner{
    background-color: #cc0000;
}*/

/*Cambios estilos 04 06 2018*/
/*OBSERVATIONS.JSP*/
.pestanas
{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Correccion para que la primera pestaña aparezca como seleccionada*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: white ; 
    border-bottom-width: 2px !important;

}
.btngreen_1{
    background: linear-gradient(to bottom,#3aaa35 0,#3aaa35 100%)  !important;
    color: #f0f0f0  !important;
    border-color: #3aaa35 !important;
}
/*Icono LogOUT*/
.imgUser
{
    max-width: 50% !important;
}
.padding0{
    padding: 0px;
}
.divDetails{
    padding: 0px;
    margin-bottom: 5px;
}
 .btnStudents{
    padding-bottom: 10px;

    padding-left: 0px;
    padding-right: 0px;
}

